/* #count{
    width: 100;
    height: 50;
    text-align: center;
    margin: 0;
    font-size: 18;
    margin-left: -80;
    margin-top: 10;
}
#countBTN{
    width: 50;
    height: 40;  
    margin-left: 10;
   
}
#plusBTN{
    width: 50;
    height: 40;   
    margin-left: -140;
}
#label{
   font-size: 15; 
   margin-top: 10;
} */
.stackLayout {
    margin-top: 10;
    padding: 10;
}
    
.stackLayout Image{
width: 150;
}
.text-center{
    margin: 10;
    font-size: 15;
}
.description{
    padding-left: 20;
    padding-right: 20;
    padding-bottom: 10;
}
.h1{
   font-size: 15;

}
